.layout {
  width: 100vw;
  margin: 0 auto;
  background: #ffffff;
  align-content: space-between;
}

@media (max-width: 375px) {
  .layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 375px;
  }
}

.spin {
  transform: scale(2.5) translateY(100%);
}

.ant-pagination,
.ant-pagination ol,
.ant-pagination ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}


@media (max-width: 375px) {
  .grid {
    max-width: 355px;
  }

  .spin {
    margin-left: 165px;
  }
}